.customAnimate {
  animation: 3s customAnimate;
}

@keyframes customAnimate {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -600%);
  }
}

.imageAni {
  animation: 3s imageAni;
}

@keyframes imageAni {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    left: 30%;
  }
  100% {
    opacity: 1;
    visibility: visible;
    left: 50%;
  }
}
